<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.aniru.federalmoneyserver">

    <permission android:name="com.example.aniru.federalmoneyserver.DATA" >
    </permission>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <service
            android:name=".MyService"
            android:enabled="true"
            android:permission="com.example.aniru.federalmoneyserver.DATA" >
            <intent-filter>
                <action android:name="com.example.aniru.Service.IMyAidlInterface" />
            </intent-filter>
            android:exported="true"></service>
    </application>

</manifest>

<!-- ANIRUDH KRISHNAN
UIN 665430491
-->